* {
  margin: 0;
  padding: 0;
}
*::before {
  display: block;
}
*::after {
  display: block;
}
body {
  font-size: 18px;
}
.box::before {
  position: absolute;
}
.box::after {
  position: absolute;
}
.box {
  position: fixed;
}
.html {
  padding-left: 50px;
}
@keyframes SpinTaiJi {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
