* {
  margin: 0;
  padding: 0;
}
*::before {
  display: block;
}
*::after {
  display: block;
}
.box::before {
  position: absolute;
}
.box::after {
  position: absolute;
}
.box {
  position: fixed;
}
.html {
  padding-left: 50px;
}
